{{>layout/header}}
<div class="row mt-3">
    <input type="text" name="name" placeholder="이름을 입력하세요.">
    <input type="email" name="email" placeholder="이메일을 입력하세요.">
    <input type="password" name="password" placeholder="비밀번호를 입력하세요.">
</div>


{{>layout/footer}}