#searchListDiv{
    height:500px;
    overflow:hidden;
}
#searchList{
    margin-top:16px;
    height:400px;
    overflow:scroll;
}
#pagination{
    height: 80px;
}
.fieldError{
    color: #bd2130;
}
.updateATag{
    color:orange;
    text-decoration: none;
}
.deleteATag{
    color:red;
    text-decoration: none;
    margin-left: 0.5rem;
}