{{>layout/header}}
<div class="row mt-3">
    <div class="col-6">
        <div class="col-12 ps-3 pb-3">
            <input id="searchKeyword" type="text" class="col-9">
            <div id="searchKeywordButton" type="button" class="col-2 btn btn-primary"
                    onclick="searchPlaces();">검색</div>
        </div>
        <div  class="col-12 ps-3">
            <div id="map" style="width:100%; height:500px;"></div>
        </div>

    </div>
    <div class="col-6 ">
        <div id="searchListDiv" >
            <div id="searchList">
                <ul id="placesList"></ul>
            </div>
            <div id="searchListPagination"></div>
        </div>
        <div id="placeMemoListDiv" >
            <div id="placeTitle" class="h3"></div>
            <ul class="list-group" id="placeMemoListUl">

            </ul>
            <div id="placeMemoListPagination">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center" id="placeMemoListPaginationUl">
                    </ul>
                </nav>
            </div>
        </div>
        <div id="test"></div>
    </div>
<!--    {{#test}}-->
<!--        <b>{{test}}</b>-->
<!--    {{/test}}-->
<!--    {{^test}}-->
<!--        No repos :(-->
<!--    {{/test}}-->
<!--    <div id="test">-->

<!--    </div>-->
    {{>writeModal}}
</div>


{{>layout/footer}}