{{>layout/header}}
<div class="row mt-3">
    <div class="col-6">
        <div class="col-12 ps-3 pb-3">
<!--            <input id="searchKeyword" type="text" class="col-9">-->
<!--            <div id="searchKeywordButton" type="button" class="col-2 btn btn-primary"-->
<!--                    onclick="searchPlaces();">검색</div>-->
                <div class="d-flex">
                    <div class="col-9 me-2">
                        <input class="form-control " type="search" id="searchKeyword"
                               placeholder="Search" aria-label="Search">
                    </div>
                    <button id="searchKeywordButton"
                            onclick="searchPlaces();"
                            class="btn btn-outline-success " type="button">검색</button>
                </div>

        </div>
        <div  class="col-12 ps-3">
            <div id="map" style="width:100%; height:500px;"></div>
        </div>

    </div>
    <div class="col-6 ">
        <div id="searchListDiv" >
            <div id="searchList">
                <ul id="placesList"></ul>
            </div>
            <div id="searchListPagination">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center" id="searchListPaginationUl">
                    </ul>
                </nav>
            </div>
        </div>
        <div id="placeMemoListDiv" >
            <div id="placeTitle" class="h3"></div>
            <ul class="list-group" id="placeMemoListUl">

            </ul>
            <div id="placeMemoListPagination">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center" id="placeMemoListPaginationUl">
                    </ul>
                </nav>
            </div>
        </div>
        <div id="test"></div>
    </div>

    {{>writeModal}}
</div>
<script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=24bdbe8834b5acfa0064eb1655f32353&libraries=services,clusterer,drawing">
</script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/kakaoMapAPI.js"></script>
{{>layout/footer}}