
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <div class="h5 modal-title" id="staticBackdropLabel">Modal title</div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <textarea name="content" id="content"></textarea>
                    </div>
                    <div id="placeInformation">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <button id="placesSaveBtn"type="button" class="btn btn-primary">저장하기</button>
                </div>
            </form>
        </div>
    </div>
</div>